/* No need to edit these */
body {
  font-family: sans-serif;
  background-color: #f7f7f6;
  color: #484848;
  text-align: center;
}
.header {
  border-bottom: 1px solid #d5d5d5;
}
.logo {
  display: flex;
  height: 54px;
  width: auto;
  margin: 0 auto;
}
.page-title {
  widows: 100%;
  margin: 16px auto;
  text-align: center;
}

/* Feel free to edit or add to these */
.products {
  width: auto;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.card {
  background-color: white;
  border: 1px solid #d5d5d5;
  width: auto;
  padding: 12px;
}
p {
  margin-bottom: 5px;
}
img {
  width: 200px;
}
.title {
  margin-top: 12px;
  font-size: 18px;
  color: #484848;
}
.description {
  color: #868786;
}
.price {
  color: #484848;
}

.btn-products-toggle {
    display: block;
  margin: 10px auto;
}

/* DESKTOP */
 @media (min-width: 551px) {
   .card {
    flex: 33.33;
   }
   .products {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center
   }
 } 

